
@model CoreApparelStoreUserPortal.Models.Feedbacks
@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Feedback</h2>


<div>
    <form asp-action="Feedback" asp-controller="Home">
        <div class="form-group">
            <label for="Message">Feedback</label>
            <input type="text" class="form-control" placeholder="Message" asp-for="Message">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>