
@{
    ViewData["Title"] = "Backhome";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>No Item in Cart, First Add</h2>
<a class=" btn btn-primary" asp-controller="Home" asp-action="Index">Add Item</a>

